#divBody {
	background-color: #D0D0D0 ;
	height: 600px;
	width: 1200px;
	position: relative;
	margin: 0px auto;
	padding-top: 10px;
	text-align: center;
}
#gridTwo {
	background-color:transparent;  ;
	height: 300px;
	width: 400px;
	position: relative;
	margin: 0px auto;
	padding-top: 10px;
	margin-right: 160px;
	margin-bottom: 10px;
	border-radius: 10px;
	overflow: scroll;
}
.inputSearch {
	padding: 5px 15px;
	background-color: #ffffff;
	width:200px;
	font:20px Helvetica,Arial,sans-serif;
	border-color: #660099;
	border-radius: 5px;
}
#gridOne {
	background-color:transparent;  ;
	height: 300px;
	width: 400px;
	position: relative;
	padding-top: 10px;
	margin-left: 130px;
	margin-bottom: -300px;
	border-radius: 10px;
}
.input{
	padding: 5px 15px;
	background-color: #ffffff;
	width:300px;
	font:20px Helvetica,Arial,sans-serif;
	border-color: #660099;
	border-radius: 5px;
}
.id{
	padding: 5px 15px;
	background-color: #ffffff;
	width:200px;
	font:20px Helvetica,Arial,sans-serif;
	border-color: #660099;
	border-radius: 5px;
}
.button {
	width: 100px;
	height: 42px;
	position:relative;
	padding: 5px 15px;
	left: -8px;
	border:2px solid #207cca;
	background-color:2px solid #207cca;
	color:#333;
	border-radius: 5px;
}
.Addbutton {
	width: 300px;
	height: 42px;
	position:relative;
	padding: 5px 15px;
	left: -8px;
	border:2px solid #207cca;
	background-color:2px solid #207cca;
	color:#333;
	border-radius: 5px;
}
.course {
	width: 100px;
	height: 40px;
	font-size: 20x;
}